<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<div class="container">
		<h1>Photos customized just for you</h1>

		<div class="product">
			<h2> Pack of 10 customized photos</h2>
			<h3>Free Shipping anywhere in the US</h3>
			<div class="sticker">				
			</div>
		</div>

		<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $10.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Customized Photos"
          data-amount="1000"
          data-locale="auto"></script>
<% end %>
</div>
